
<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
  <style>
    .tx_personmanager th{
      padding-right: 15px;
    }
    #typo3-inner-docbody a{
      background-color: #C8C8C8;
      background-image:url('../../typo3/sysext/t3skin/images/backgrounds/button-hover.png');
      background-image:linear-gradient(center top,#f6f6f6 10%,#c8c8c8 90%);
      background-image:-moz-linear-gradient(center top,#f6f6f6 10%,#bdbcbc 90%);
      background-image:-webkit-gradient(linear,0% 0%,0% 100%,color-stop(0.1,#f6f6f6),color-stop(0.9,#c8c8c8));
      background-position: center bottom;
      background-repeat: repeat-x;
      border: 1px solid #737F91;
      color: #1E1E1E;
      cursor: pointer;
      padding: 4px;
    }
    .hidden_form input{
      display: none;
    }
    .hidden_form input[type="submit"]{
      display: block;
    }
  </style>
  {namespace h=Personmanager\PersonManager\ViewHelpers}

  <h1>{anz} <f:translate key="labels.foundp" /></h1>
  <h3><f:translate key="labels.checklist" /></h3>

  <table  class="tx_personmanager" >
    <tr>
      <f:for each="{arr}" as="val">
        <th><f:translate key="tx_personmanager_domain_model_person.{val}" /></th>
      </f:for>
    </tr>

    <f:for each="{personen}" as="person">
      <tr>
        <f:for each="{arr}" as="val">
          <td>
          <f:if condition="{val} == 'salutation'">
            <f:then>
              <f:if condition="{h:person(obj:person, prop:val)} == 0"><f:translate key="labels.mrmrs" /></f:if>
              <f:if condition="{h:person(obj:person, prop:val)} == 1"><f:translate key="labels.mr" /></f:if>
              <f:if condition="{h:person(obj:person, prop:val)} == 2"><f:translate key="labels.mrs" /></f:if>
            </f:then>
            <f:else>
              <f:if condition="{val} == 'active'">
                <f:then>
                  <f:if condition="{h:person(obj:person, prop:val)} == 1"><f:then><f:translate key="labels.yes" /></f:then><f:else><f:translate key="labels.no" /></f:else></f:if>
                </f:then>
                <f:else>
                  <f:if condition="{val} == 'confirmed'">
                    <f:then>
                      <f:if condition="{h:person(obj:person, prop:val)} == 1"><f:then><f:translate key="labels.yes" /></f:then><f:else><f:translate key="labels.no" /></f:else></f:if>
                    </f:then>
                    <f:else>
                      <f:if condition="{val} == 'unsubscribed'">
                        <f:then>
                          <f:if condition="{h:person(obj:person, prop:val)} == 1"><f:then><f:translate key="labels.yes" /></f:then><f:else><f:translate key="labels.no" /></f:else></f:if>
                        </f:then>
                        <f:else>
                          {h:person(obj:person, prop:val)}
                        </f:else>
                      </f:if>
                    </f:else>
                  </f:if>
                </f:else>
              </f:if>
            </f:else>
          </f:if>
         </td>
        </f:for>
      </tr>
    </f:for>
  </table>

  <br /><br />
  <f:link.action action="newImport"><f:translate key="labels.cancel" /></f:link.action><br /><br />

  <div class="hidden_form">
  <f:form action="import"  name="newPerson" enctype="multipart/form-data">
    <f:form.textfield name="spalten" value="{spalten}" size="100"/>
    <f:form.textfield name="trenn" value="{trenn}" size="2" />
    <f:if condition="{first}=='1'">
      <f:then>
        <f:form.checkbox name="first" value="1" checked="checked" />
      </f:then>
      <f:else>
        <f:form.checkbox name="first" value="1" />
      </f:else>
    </f:if>
    <f:form.radio name="impformat" value="excel" checked="{impformat}=='excel'" />
    <f:form.radio name="impformat" value="csv" checked="{impformat}=='csv'"/>
    <f:form.textfield name="filen" value="{filename}" />
    <f:form.textfield name="check" value="1" />
    <f:form.submit value="{f:translate(key:'labels.import')}" />
  </f:form>
  </div>



</f:section>