
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1><f:translate key="labels.plist" /></h1>

<f:flashMessages />
	<style>
		.tx_personmanager th{
			padding-right: 15px;
		}
		.tx_personmanager td{
			padding: 2px 6px;
		}
		.tx_personmanager a, .tx_personmanager tr:hover td a{
			text-decoration: underline;
		}
		.tx_personmanager tr td a{
			text-decoration: none;
		}
		.tx_personmanager tr:nth-child(even){
			background-color:#eee;
		}
		.f3-widget-paginator{
			list-style-type: none;
			margin-bottom: 10px;
			overflow: hidden;
		}
		.f3-widget-paginator li{
			float:left;
			margin-right: 10px;
			text-decoration: underline;
		}
		.f3-widget-paginator li.current{
			font-weight: 600;
			text-decoration: none;
		}
		.t3icon{
			background-image: url("sysext/t3skin/images/sprites/t3skin@x2.png") !important;
			background-size: 322px 525px;
			width:16px;
			height:16px;
			display: inline-block;
			text-decoration: none!important;
		}
		#clearsearch{
			margin-right: 5px;
			margin-top: 1px;
		}
		#new{
			margin-right: 5px;
			margin-top: 1px;
			background-position: -180px 0px !important;
		}
		.t3icon7{
			display: inline-block;
			color: #333;
			background-color: #DEDEDE;
			border: 1px solid rgb(196, 196, 196);
			padding: 6px;
			border-radius: 2px;
			margin-bottom: 10px;
			text-decoration: none!important;
		}
		.t3icon7 i{
			padding: 3px;
			display: block;
		}
		.tx_personmanager a.active{
			text-transform: uppercase;
		}
		.tx_personmanager a.active:after{
			content:"";
			background-image: url("sysext/t3skin/images/sprites/t3skin@x2.png") !important;
			background-size: 322px 525px;
			width:16px;
			height:16px;
			display: inline-block;
			margin-left:2px;
		}
		.tx_personmanager a.down.active:after{
			background-position: -215px -35px !important;
		}
		.tx_personmanager a.up.active:after{
			background-position: -305px -35px !important;
		}
	</style>
	<f:if condition="{newIcons}">
		<f:then>
			<f:link.action id="new7" class="t3icon7" action="new" title="{f:translate(key:'labels.newp')}"><i class="fa fa-plus-square"></i></f:link.action>
		</f:then>
		<f:else>
			<f:link.action id="new" class="t3icon" action="new" title="{f:translate(key:'labels.newp')}"></f:link.action>
		</f:else>
	</f:if>
	<br/>
	<p>{countPers} <f:if condition="{countPers} == 1"><f:then><f:translate key="labels.p1indb" /></f:then><f:else><f:translate key="labels.pindb" /></f:else></f:if></p>
	<br/>
	<f:form action="list" arguments="{order:order}">
		<f:form.textfield name="search" value="{term}" />
		<f:if condition="{term}">
			<f:if condition="{newIcons}">
				<f:then>
					<f:link.action id="clearsearch7" class="t3icon7" action="list" arguments="{order:order}" title="{f:translate(key:'labels.clearsearch')}"><i class="fa fa-close"></i></f:link.action>
				</f:then>
				<f:else>
					<f:link.action id="clearsearch" class="t3icon" action="list" arguments="{order:order}" title="{f:translate(key:'labels.clearsearch')}"></f:link.action>
				</f:else>
			</f:if>
		</f:if>
		<f:form.submit value="{f:translate(key:'labels.search')}" />
	</f:form>
	<br/>

<table  class="tx_personmanager" >
	<tr>
		<f:if condition="{vars.salutation} == '1'"><th><f:translate key="tx_personmanager_domain_model_person.salutation" /></th></f:if>
		<f:if condition="{vars.titel} == '1'"><th><f:translate key="tx_personmanager_domain_model_person.titel" /></th></f:if>
		<th>
			<f:if condition="{order}!=1"><f:link.action action="list" arguments="{order:1,getterm:term}" class="{f:if(condition: '{order} == 2',then:'active up',else: '')}"><f:translate key="tx_personmanager_domain_model_person.firstname" /></f:link.action></f:if>
			<f:if condition="{order}==1"><f:link.action action="list" arguments="{order:2,getterm:term}" class="active down"><f:translate key="tx_personmanager_domain_model_person.firstname" /></f:link.action></f:if>
		</th>
		<th>
			<f:if condition="{order}!=3"><f:link.action action="list" arguments="{order:3,getterm:term}" class="{f:if(condition: '{order} == 4',then:'active up',else: '')}"><f:translate key="tx_personmanager_domain_model_person.lastname" /></f:link.action></f:if>
			<f:if condition="{order}==3"><f:link.action action="list" arguments="{order:4,getterm:term}" class="active down"><f:translate key="tx_personmanager_domain_model_person.lastname" /></f:link.action></f:if>
		</th>
		<f:if condition="{vars.nachgtitel} == '1'"><th><f:translate key="tx_personmanager_domain_model_person.nachgtitel" /></th></f:if>
		<th>
			<f:if condition="{order}!=5"><f:link.action action="list" arguments="{order:5,getterm:term}" class="{f:if(condition: '{order} == 6',then:'active up',else: '')}"><f:translate key="tx_personmanager_domain_model_person.email" /></f:link.action></f:if>
			<f:if condition="{order}==5"><f:link.action action="list" arguments="{order:6,getterm:term}" class="active down"><f:translate key="tx_personmanager_domain_model_person.email" /></f:link.action></f:if>
		</th>
		<f:if condition="{vars.geb} == '1'"><th><f:translate key="tx_personmanager_domain_model_person.geb" /></th></f:if>
		<f:if condition="{vars.tel} == '1'"><th><f:translate key="tx_personmanager_domain_model_person.tel" /></th></f:if>
		<f:if condition="{vars.company} == '1'">
			<th>
				<f:if condition="{order}!=7"><f:link.action action="list" arguments="{order:7,getterm:term}" class="{f:if(condition: '{order} == 8',then:'active up',else: '')}"><f:translate key="tx_personmanager_domain_model_person.company" /></f:link.action></f:if>
				<f:if condition="{order}==7"><f:link.action action="list" arguments="{order:8,getterm:term}" class="active down"><f:translate key="tx_personmanager_domain_model_person.company" /></f:link.action></f:if>
			</th>
		</f:if>
		<th><f:translate key="tx_personmanager_domain_model_person.crdate" /></th>
		<th><f:translate key="tx_personmanager_domain_model_person.active" /></th>
		<th><f:translate key="tx_personmanager_domain_model_person.confirmed" /></th>
		<th><f:translate key="tx_personmanager_domain_model_person.unsubscribed" /></th>
		<f:if condition="{vars.category} == '1'"><th><f:translate key="tx_personmanager_domain_model_person.category" /></th></f:if>
	</tr>
	<f:widget.paginate objects="{persons}" as="pagpersons" configuration="{itemsPerPage: 100, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 10}">
	<f:for each="{pagpersons}" as="person">
		<tr>
			<f:if condition="{vars.salutation} == '1'">
				<td><f:link.action action="show" arguments="{person : person, vars:vars}">
					<f:if condition="{person.salutation} == 0"><f:translate key="labels.mrmrs" /></f:if>
					<f:if condition="{person.salutation} == 1"><f:translate key="labels.mr" /></f:if>
					<f:if condition="{person.salutation} == 2"><f:translate key="labels.mrs" /></f:if>
				</f:link.action></td>
			</f:if>
			<f:if condition="{vars.titel} == '1'"><td><f:link.action action="show" arguments="{person : person, vars:vars}">{person.titel}</f:link.action></td></f:if>
			<td><f:link.action action="show" arguments="{person : person, vars:vars}">{person.firstname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person, vars:vars}">{person.lastname}</f:link.action></td>
			<f:if condition="{vars.nachgtitel} == '1'"><td>{person.nachgtitel}</td></f:if>
			<td><f:link.action action="show" arguments="{person : person, vars:vars}">{person.email}</f:link.action></td>
			<f:if condition="{vars.geb} == '1'"><td><f:link.action action="show" arguments="{person : person, vars:vars}">{person.geb}</f:link.action></td></f:if>
			<f:if condition="{vars.tel} == '1'"><td><f:link.action action="show" arguments="{person : person, vars:vars}">{person.tel}</f:link.action></td></f:if>
			<f:if condition="{vars.company} == '1'"><td><f:link.action action="show" arguments="{person : person, vars:vars}">{person.company}</f:link.action></td></f:if>
			<td><f:link.action action="show" arguments="{person : person, vars:vars}"><f:format.date format="{f:translate(key:'dateFormat')}">{person.crdate}</f:format.date></f:link.action></td>
			<f:if condition="{person.active} == 0"><td><f:link.action action="show" arguments="{person : person, vars:vars}"><f:translate key="labels.no" /></f:link.action></td></f:if>
			<f:if condition="{person.active} == 1"><td><f:link.action action="show" arguments="{person : person, vars:vars}"><f:translate key="labels.yes" /></f:link.action></td></f:if>
			<f:if condition="{person.confirmed} == 0"><td><f:link.action action="show" arguments="{person : person, vars:vars}"><f:translate key="labels.no" /></f:link.action></td></f:if>
			<f:if condition="{person.confirmed} == 1"><td><f:link.action action="show" arguments="{person : person, vars:vars}"><f:translate key="labels.yes" /></f:link.action></td></f:if>
			<f:if condition="{person.unsubscribed} == 0"><td><f:link.action action="show" arguments="{person : person, vars:vars}"><f:translate key="labels.no" /></f:link.action></td></f:if>
			<f:if condition="{person.unsubscribed} == 1"><td><f:link.action action="show" arguments="{person : person, vars:vars}"><f:translate key="labels.yes" /></f:link.action></td></f:if>
			<f:if condition="{vars.category} == '1'"><td><f:link.action action="show" arguments="{person : person, vars:vars}">{person.category.name}</f:link.action></td></f:if>
		</tr>
	</f:for>
	</f:widget.paginate>
</table>

</f:section>