
<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
  <h1><f:translate key="labels.importp" /></h1>

  <style>
    span{
      width:100px;
      float: left;
      font-weight: 600;
    }
    .err{
      color:red;
    }
    a{
      text-decoration: underline;
    }
  </style>

  <f:form action="import"  name="newPerson" enctype="multipart/form-data">
    <label>
      <f:translate key="labels.avail" />
    </label><br /><br />
    <f:for each="{props}" as="prop">
      <p><span>{prop.value}</span>{prop.name}</p>
    </f:for>
    <br />
    <div class="err"><f:format.html>{error}</f:format.html></div>
    <br />
    <label>
      <f:translate key="labels.rows" />
    </label><br />
    <f:form.textfield name="spalten" value="{spalten}" size="100"/><br />
    <label>
      <f:translate key="labels.sep" />
    </label><br />
    <f:form.textfield name="trenn" value="{trenn}" size="2" /><br />
    <label>
      <f:translate key="labels.firstrow" />
    </label><br />
    <f:if condition="{first}=='1'">
      <f:then>
        <f:form.checkbox name="first" value="1" checked="checked" /><br />
      </f:then>
      <f:else>
        <f:form.checkbox name="first" value="1" /><br />
      </f:else>
    </f:if>
    <label>
      <f:translate key="labels.format" />
    </label><br />
    <f:form.radio name="impformat" value="excel" checked="{impformat}=='excel'" />Excel<br />
    <f:form.radio name="impformat" value="csv" checked="{impformat}=='csv'"/>CSV<br />



    <br />
    <label for="jsonobj">
      <f:translate key="labels.data" />
    </label><br />
    <f:form.upload name="jsonobj" />
    <br /><br />
    <f:form.submit value="{f:translate(key:'labels.import')}" />
  </f:form>
  <br/><br/>
  <p>{countPers} <f:translate key="labels.pindb" /></p>
  <br/><br/>
  <f:link.action action="clear"><f:translate key="labels.clearp" /></f:link.action><br />

</f:section>