
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1><f:translate key="labels.detailview" /></h1>

  <style>
    .tx-person-manager td{
      padding: 2px 6px;
    }
    #typo3-inner-docbody a{
      text-decoration: underline;
    }
    .tx-person-manager tr:nth-child(even){
      background-color:#eee;
    }
    span.icon{
      width:16px;
      height:16px;
      display: block;
      float:left;
      margin-right: 5px;
      margin-top: 1px;
      background-image: url("sysext/t3skin/images/sprites/t3skin@x2.png") !important;
      background-size: 322px 525px;
    }
    span.edit {
      background-position: -198px 0px !important;
    }
    span.delete {
      background-position: -162px -18px !important;
    }
    span.back {
      background-position: -36px -36px !important;
    }
    .icon_link{
      text-decoration: none!important;
    }
    .icon_link i{
      display: inline-block;
      color: #333;
      background-color: #DEDEDE;
      border: 1px solid rgb(196, 196, 196);
      padding: 6px;
      border-radius: 2px;
      margin-bottom: 10px;
      margin-right: 5px;
    }
  </style>
  <script>
    $(document).ready(function() {
      $('#pers_delete').click(function() {
        if (!confirm("{f:translate(key:'labels.sure')}")) {
          return false;
        }
      });
    });
  </script>

<f:flashMessages />
  <f:if condition="{newIcons}">
    <f:then>
      <f:link.action class="icon_link" action="edit" arguments="{person:person}"><i class="fa fa-pencil"></i><f:translate key="labels.edit" /></f:link.action><br/>
      <f:link.action class="icon_link" id="pers_delete" action="delete" arguments="{person:person}"><i class="fa fa-trash"></i><f:translate key="labels.delete" /></f:link.action><br/>
      <f:link.action class="icon_link" action="list"><i class="fa fa-long-arrow-left"></i><f:translate key="labels.backtolist" /></f:link.action><br/>
    </f:then>
    <f:else>
      <f:link.action action="edit" arguments="{person:person}"><span class="icon edit"></span><f:translate key="labels.edit" /></f:link.action><br/>
      <f:link.action id="pers_delete" action="delete" arguments="{person:person}"><span class="icon delete"></span><f:translate key="labels.delete" /></f:link.action><br/>
      <f:link.action action="list"><span class="icon back"></span><f:translate key="labels.backtolist" /></f:link.action><br/>
    </f:else>
  </f:if>
  <br/><br/>
<f:render partial="Person/Properties" arguments="{person:person, vars:vars}" />

</f:section>