
<table class="tx-person-manager" >
	<f:if condition="{vars.salutation} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.salutation" />
			</td>
			<td>
				<f:if condition="{person.salutation} == 0"><f:translate key="labels.mrmrs" /></f:if>
				<f:if condition="{person.salutation} == 1"><f:translate key="labels.mr" /></f:if>
				<f:if condition="{person.salutation} == 2"><f:translate key="labels.mrs" /></f:if>
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.titel} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.titel" />
			</td>
			<td>
				{person.titel}
			</td>
		</tr>
	</f:if>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.firstname" />
		</td>
		<td>
			{person.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.lastname" />
		</td>
		<td>
			{person.lastname}
		</td>
	</tr>
	<f:if condition="{vars.nachgtitel} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.nachgtitel" />
			</td>
			<td>
				{person.nachgtitel}
			</td>
		</tr>
	</f:if>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.email" />
		</td>
		<td>
			{person.email}
		</td>
	</tr>
	<f:if condition="{vars.geb} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.geb" />
			</td>
			<td>
				{person.geb}
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.tel} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.tel" />
			</td>
			<td>
				{person.tel}
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.company} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.company" />
			</td>
			<td>
				{person.company}
			</td>
		</tr>
	</f:if>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.crdate" />
		</td>
		<td>
			<f:format.date format="{f:translate(key:'dateFormat')}">{person.crdate}</f:format.date>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.active" />
		</td>
		<td>
			<f:if condition="{person.active} == 0"><f:translate key="labels.no" /></f:if>
			<f:if condition="{person.active} == 1"><f:translate key="labels.yes" /></f:if>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.confirmed" />
		</td>
		<td>
			<f:if condition="{person.confirmed} == 0"><f:translate key="labels.no" /></f:if>
			<f:if condition="{person.confirmed} == 1"><f:translate key="labels.yes" /></f:if>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.unsubscribed" />
		</td>
		<td>
			<f:if condition="{person.unsubscribed} == 0"><f:translate key="labels.no" /></f:if>
			<f:if condition="{person.unsubscribed} == 1"><f:translate key="labels.yes" /></f:if>
		</td>
	</tr>
	<f:if condition="{vars.category} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.category" />
			</td>
			<td>
				{person.category.name}
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.frtxt0} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.frtxt0" />
			</td>
			<td>
				{person.frtxt0}
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.frtxt1} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.frtxt1" />
			</td>
			<td>
				{person.frtxt1}
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.frtxt2} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.frtxt2" />
			</td>
			<td>
				{person.frtxt2}
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.frtxt3} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.frtxt3" />
			</td>
			<td>
				{person.frtxt3}
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.frtxt4} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.frtxt4" />
			</td>
			<td>
				{person.frtxt4}
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.frtxt5} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.frtxt5" />
			</td>
			<td>
				{person.frtxt5}
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.frtxt6} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.frtxt6" />
			</td>
			<td>
				{person.frtxt6}
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.frtxt7} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.frtxt7" />
			</td>
			<td>
				{person.frtxt7}
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.frtxt8} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.frtxt8" />
			</td>
			<td>
				{person.frtxt8}
			</td>
		</tr>
	</f:if>
	<f:if condition="{vars.frtxt9} == '1'">
		<tr>
			<td>
				<f:translate key="tx_personmanager_domain_model_person.frtxt9" />
			</td>
			<td>
				{person.frtxt9}
			</td>
		</tr>
	</f:if>
</table>