<f:if condition="{vars.salutation} == '1'">
	<label for="salutation">
		<f:translate key="tx_personmanager_domain_model_person.salutation" />
	</label><br />
	<select name="tx_personmanager_personmanagerfront[anr]">
		<option value="0"><f:translate key="labels.choose" /></option>
		<f:if condition="{anr}==1">
			<f:then><option value="1" selected><f:translate key="labels.mr" /></option></f:then>
			<f:else><option value="1"><f:translate key="labels.mr" /></option></f:else>
		</f:if>
		<f:if condition="{anr}==2">
			<f:then><option value="2" selected><f:translate key="labels.mrs" /></option></f:then>
			<f:else><option value="2"><f:translate key="labels.mrs" /></option></f:else>
		</f:if>
	</select>
	<br />
</f:if>

<f:if condition="{vars.titel} == '1'">
	<label for="titel">
		<f:translate key="tx_personmanager_domain_model_person.titel" />
	</label><br />
	<f:form.textfield property="titel" /><br />
</f:if>

<label for="firstname">
	<f:translate key="tx_personmanager_domain_model_person.firstname" />
</label><br />
	<f:form.textfield property="firstname" /><br />
	
<label for="lastname">
	<f:translate key="tx_personmanager_domain_model_person.lastname" />
</label><br />
	<f:form.textfield property="lastname" /><br />

<f:if condition="{vars.nachgtitel} == '1'">
	<label for="nachgtitel">
		<f:translate key="tx_personmanager_domain_model_person.nachgtitel" />
	</label><br />
	<f:form.textfield property="nachgtitel" /><br />
</f:if>

<label for="email">
	<f:translate key="tx_personmanager_domain_model_person.email" />
</label><br />
	<f:form.textfield property="email" /><br />

<f:if condition="{vars.geb} == '1'">
<label for="geb">
	<f:translate key="tx_personmanager_domain_model_person.geb" />
</label><br />
	<f:form.textfield property="geb" /><br />
</f:if>
	
<f:if condition="{vars.tel} == '1'">
<label for="tel">
	<f:translate key="tx_personmanager_domain_model_person.tel" />
</label><br />
	<f:form.textfield property="tel" /><br />
</f:if>
	
<f:if condition="{vars.company} == '1'">
<label for="company">
	<f:translate key="tx_personmanager_domain_model_person.company" />
</label><br />
	<f:form.textfield property="company" /><br />
</f:if>
	
<f:if condition="{vars.frtxt0} == '1'">
<label for="frtxt0">
	<f:translate key="tx_personmanager_domain_model_person.frtxt0" />
</label><br />
	<f:form.textfield property="frtxt0" /><br />
</f:if>
	
<f:if condition="{vars.frtxt1} == '1'">
<label for="frtxt1">
	<f:translate key="tx_personmanager_domain_model_person.frtxt1" />
</label><br />
	<f:form.textfield property="frtxt1" /><br />
</f:if>

<f:if condition="{vars.frtxt2} == '1'">	
<label for="frtxt2">
	<f:translate key="tx_personmanager_domain_model_person.frtxt2" />
</label><br />
	<f:form.textfield property="frtxt2" /><br />
</f:if>

<f:if condition="{vars.frtxt3} == '1'">	
<label for="frtxt3">
	<f:translate key="tx_personmanager_domain_model_person.frtxt3" />
</label><br />
	<f:form.textfield property="frtxt3" /><br />
</f:if>

<f:if condition="{vars.frtxt4} == '1'">	
<label for="frtxt4">
	<f:translate key="tx_personmanager_domain_model_person.frtxt4" />
</label><br />
	<f:form.textfield property="frtxt4" /><br />
</f:if>

<f:if condition="{vars.frtxt5} == '1'">	
<label for="frtxt5">
	<f:translate key="tx_personmanager_domain_model_person.frtxt5" />
</label><br />
	<f:form.textfield property="frtxt5" /><br />
</f:if>
	
<f:if condition="{vars.frtxt6} == '1'">
<label for="frtxt6">
	<f:translate key="tx_personmanager_domain_model_person.frtxt6" />
</label><br />
	<f:form.textfield property="frtxt6" /><br />
</f:if>

<f:if condition="{vars.frtxt7} == '1'">	
<label for="frtxt7">
	<f:translate key="tx_personmanager_domain_model_person.frtxt7" />
</label><br />
	<f:form.textfield property="frtxt7" /><br />
</f:if>
	
<f:if condition="{vars.frtxt8} == '1'">
<label for="frtxt8">
	<f:translate key="tx_personmanager_domain_model_person.frtxt8" />
</label><br />
	<f:form.textfield property="frtxt8" /><br />
</f:if>
	
<f:if condition="{vars.frtxt9} == '1'">
<label for="frtxt9">
	<f:translate key="tx_personmanager_domain_model_person.frtxt9" />
</label><br />
	<f:form.textfield property="frtxt9" /><br />
</f:if>

<f:if condition="{vars.category} == '1'">
	<f:if condition="{kats}">
		<label for="category">
			<f:translate key="tx_personmanager_domain_model_person.category" />
		</label><br />
		<f:form.select property="category" options="{kats}" optionValueField="uid" optionLabelField="name" /><br />
	</f:if>
</f:if><br />

<f:form.textfield name="tx_personmanager_personmanagerfront[honeypot]" style="display:none;" placeholder="Bitte dieses Feld NICHT ausfüllen!!!" /><br />