
<table class="tx-person-manager" >
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.firstname" />
		</td>
		<td>
		{person.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.lastname" />
		</td>
		<td>
		{person.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.email" />
		</td>
		<td>
		{person.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.salutation" />
		</td>
		<td>
		{person.salutation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.titel" />
		</td>
		<td>
		{person.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.nachgtitel" />
		</td>
		<td>
		{person.nachgtitel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.geb" />
		</td>
		<td>
		{person.geb}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.tel" />
		</td>
		<td>
		{person.tel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.company" />
		</td>
		<td>
		{person.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.active" />
		</td>
		<td>
		{person.active}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.confirmed" />
		</td>
		<td>
		{person.confirmed}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.unsubscribed" />
		</td>
		<td>
		{person.unsubscribed}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.token" />
		</td>
		<td>
		{person.token}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.frtxt0" />
		</td>
		<td>
		{person.frtxt0}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.frtxt1" />
		</td>
		<td>
		{person.frtxt1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.frtxt2" />
		</td>
		<td>
		{person.frtxt2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.frtxt3" />
		</td>
		<td>
		{person.frtxt3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.frtxt4" />
		</td>
		<td>
		{person.frtxt4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.frtxt5" />
		</td>
		<td>
		{person.frtxt5}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.frtxt6" />
		</td>
		<td>
		{person.frtxt6}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.frtxt7" />
		</td>
		<td>
		{person.frtxt7}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.frtxt8" />
		</td>
		<td>
		{person.frtxt8}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_personmanager_domain_model_person.frtxt9" />
		</td>
		<td>
		{person.frtxt9}
		</td>
	</tr>
</table>