<f:if condition="{vars.salutation} == '1'">
	<label for="salutation">
		<f:translate key="tx_personmanager_domain_model_person.salutation" /> *
	</label>
	<br />
	<f:form.select class="form-control" property="salutation" required="true">
		<f:form.select.option value="">
			<f:translate key="labels.choose" />
		</f:form.select.option>
		<f:if condition="{anr}==1">
			<f:then>
				<f:form.select.option value="1" selected="true">
					<f:translate key="labels.mr" />
				</f:form.select.option>
			</f:then>
			<f:else>
				<f:form.select.option value="1">
					<f:translate key="labels.mr" />
				</f:form.select.option>
			</f:else>
		</f:if>
		<f:if condition="{anr}==2">
			<f:then>
				<f:form.select.option value="2" selected="true">
					<f:translate key="labels.mrs" />
				</f:form.select.option>
			</f:then>
			<f:else>
				<f:form.select.option value="2">
					<f:translate key="labels.mrs" />
				</f:form.select.option>
			</f:else>
		</f:if>
	</f:form.select>
	<br />
</f:if>
