<f:if condition="{root}">
	<f:then>

		<f:be.container>
			<div class="typo3-fullDoc">
				<div id="typo3-docheader">
					<div class="typo3-docheader-functions">
						<div class="left">
						</div>
						<div class="right">
							<f:be.pagePath />
							<f:be.pageInfo />
						</div>
					</div>
					<div class="typo3-docheader-buttons">
						<div class="left">

						</div>
						<div class="right">
							<f:be.buttons.shortcut />
						</div>
					</div>
				</div>
				<div id="typo3-docbody">
					<div id="typo3-inner-docbody">
						<f:flashMessages />
					</div>
				</div>
			</div>
		</f:be.container>

	</f:then>
	<f:else>

		<f:be.container>
			<div class="typo3-fullDoc">
				<div id="typo3-docheader">
					<div class="typo3-docheader-functions">
						<div class="left">
							<f:be.buttons.csh />
							<f:be.menus.actionMenu>
								<f:be.menus.actionMenuItem label="{f:translate(key:'labels.list')}" controller="Backend" action="list" />
								<f:be.menus.actionMenuItem label="Import" controller="Backend" action="newImport" />
								<f:be.menus.actionMenuItem label="Export" controller="Backend" action="newExport" />
								<f:be.menus.actionMenuItem label="Log" controller="Backend" action="loglist" />
								<f:be.menus.actionMenuItem label="Blacklist" controller="Backend" action="blNewImport" />
							</f:be.menus.actionMenu>
						</div>
						<div class="right">
							<f:be.pagePath />
							<f:be.pageInfo />
						</div>
					</div>
					<div class="typo3-docheader-buttons">
						<div class="left">

						</div>
						<div class="right">
							<f:be.buttons.shortcut />
						</div>
					</div>
				</div>
				<div id="typo3-docbody">
					<div id="typo3-inner-docbody">
						<f:flashMessages />
						<script src="http://code.jquery.com/jquery-latest.min.js"></script>
						<f:render partial="Form/Styles" />
						<f:render section="content" />
					</div>
				</div>
			</div>
		</f:be.container>

	</f:else>
</f:if>