
<f:layout name="Module" />

<f:section name="Content">

  <h1>{anz} <f:translate key="labels.foundp" /></h1>
  <h3><f:translate key="labels.checklist" /></h3>

  <table  class="tx_personmanager" >
    <tr>
      <f:for each="{arr}" as="val">
        <th><f:translate key="tx_personmanager_domain_model_person.{val}" /></th>
      </f:for>
    </tr>

    <f:for each="{personen}" as="person">
      <tr>
        <f:for each="{arr}" as="val">
          <td>
          <f:if condition="{val} == 'salutation'">
            <f:then>
              <f:if condition="{person.{val}} == 0"><f:translate key="labels.mrmrs" /></f:if>
              <f:if condition="{person.{val}} == 1"><f:translate key="labels.mr" /></f:if>
              <f:if condition="{person.{val}} == 2"><f:translate key="labels.mrs" /></f:if>
            </f:then>
            <f:else>
              <f:if condition="{val} == 'active'">
                <f:then>
                  <f:if condition="{person.{val}} == 1"><f:then><f:translate key="labels.yes" /></f:then><f:else><f:translate key="labels.no" /></f:else></f:if>
                </f:then>
                <f:else>
                  <f:if condition="{val} == 'confirmed'">
                    <f:then>
                      <f:if condition="{person.{val}} == 1"><f:then><f:translate key="labels.yes" /></f:then><f:else><f:translate key="labels.no" /></f:else></f:if>
                    </f:then>
                    <f:else>
                      <f:if condition="{val} == 'unsubscribed'">
                        <f:then>
                          <f:if condition="{person.{val}} == 1"><f:then><f:translate key="labels.yes" /></f:then><f:else><f:translate key="labels.no" /></f:else></f:if>
                        </f:then>
                        <f:else>
                          {person.{val}}
                        </f:else>
                      </f:if>
                    </f:else>
                  </f:if>
                </f:else>
              </f:if>
            </f:else>
          </f:if>
         </td>
        </f:for>
      </tr>
    </f:for>
  </table>

  <br /><br />
  <f:link.action action="newImport" class="btn btn-default"><f:translate key="labels.cancel" /></f:link.action><br /><br />

  <div class="hidden_form">
  <f:form action="import"  name="newPerson" enctype="multipart/form-data">
    <f:form.textfield name="spalten" value="{spalten}" size="100"/>
    <f:form.textfield name="trenn" value="{trenn}" size="2" />
    <f:render partial="Backend/Form/FileCheck" arguments="{_all}" />
    <f:form.submit value="{f:translate(key:'labels.import')}" class="btn btn-primary" />
  </f:form>
  </div>



</f:section>
